<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TrustWeather</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
    <script>
      function updateTime() {
          var today = new Date();
          var day = today.getDate();
          var month = today.getMonth(); 
          var year = today.getFullYear();
          var hours = today.getHours();
          var minutes = today.getMinutes();
          
          // Determine AM or PM
          var ampm = hours >= 12 ? 'PM' : 'AM';
          
          // Convert hours to 12-hour format
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          
          // Add leading zero to minutes if needed
          minutes = minutes < 10 ? '0' + minutes : minutes;
          
          var formattedDate = hours + ":" + minutes + " " + ampm;
          document.getElementById("datetime").innerHTML = formattedDate;
          setTimeout(updateTime, 1000); // Update every 1 second
      }
  </script>
  <style>
      /* CSS */
  .d-flex {
    display: flex;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .align-items-center {
    align-items: center;
  }
  
  </style>
  <style>
    .card-title span {
        color: hsl(218, 28%, 14%);
    }
</style>
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Trust Weather</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


     
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="index.html">
          <i class="bi bi-grid"></i>
          <span>Home</span>
        </a>
      </li><!-- End Home Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="overview.html">
          <i class="bi bi-bar-chart-line"></i><span>Overview</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          
          <li>
            <a href="overview.html">
                <i class="bi bi-circle"></i><span> Weather Overview</span>
            </a>
          </li>
            <li>
                <a href="feelslike.html">
                    <i class="bi bi-circle"></i><span>Feels Like</span>
                </a>
            </li>
            <li>
                <a href="humidity.html">
                    <i class="bi bi-circle"></i><span>Humidity</span>
                </a>
            </li>
            <li>
                <a href="windspeed.html">
                    <i class="bi bi-circle"></i><span>Wind Speed</span>
                </a>
            </li>
            <li>
                <a href="uvindex.html">
                    <i class="bi bi-circle"></i><span>UV Index</span>
                </a>
            </li>
        </ul>
    </li><!-- End Overview Nav -->
        
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="hourly.html">
          <i class="bi bi-clock"></i>
          <span>Hourly</span>
        </a>
      </li><!-- End Hourly Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="3days_forecast.html">
          <i class="bi bi-calendar"></i>
          <span>Daily</span>
        </a>
      </li><!-- End Daily Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="report.html">
          <i class="bi bi-question-circle"></i>
          <span>Report an issue</span>
        </a>
      </li><!-- End Report Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->
  
  <main id="main" class="main">

    <div class="pagetitle">
      <h5 class="card-title"><i class="ri ri-map-pin-2-fill"></i>  Yangon</h5>
      
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Today Card -->
            <div class="col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">
                      Today<span>| <span id="datetime"></span></span>
                    </h5>
                    <button type="button" class="btn btn-light">
                      <a class="nav-link collapsed" href="/dashboard.html">
                        <span class="bi bi-arrows-angle-expand"></span>
                      </a>
                    </button>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      {% if current_weather == "Sunny" %}
                        <i class="bi bi-sun-fill"></i>
                      {% elif current_weather == "Cloudy" %}
                        <i class="bi bi-cloud-fill"></i>
                      {% elif current_weather == "Rain" %}
                        <i class="bi bi-cloud-rain-fill"></i>
                      {% elif current_weather == "Snowy" %}
                        <i class="bi bi-cloud-snow-fill"></i>
                      {% elif current_weather == "Thunderstorm" %}
                        <i class="bi bi-cloud-lightning-fill"></i>
                      {% else %}
                        <i class="bi bi-cloud-sun-fill"></i> 
                      {% endif %}
                    </div>
                    <div class="ps-3">
                      <h6>{{ current_temperature }}&deg;C</h6>
                    </div>
                    <div class="ps-3">
                      <h5 class="card-title"><span>{{ current_weather }}</span></h5>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Today Card -->
             <!-- Tomorrow Card -->
            <div class="col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <!-- HTML -->
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title">Tomorrow</h5>
                </div>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      {% if daily_forecast %}
                        {% with daily_forecast=daily_forecast.1 %}
                          {% if daily_forecast.weather == "Sunny" %}
                            <i class="bi bi-sun-fill"></i>
                          {% elif daily_forecast.weather == "Cloudy" %}
                            <i class="bi bi-cloud-fill"></i>
                          {% elif daily_forecast.weather == "Rain" %}
                            <i class="bi bi-cloud-rain-fill"></i>
                          {% elif daily_forecast.weather == "Snowy" %}
                            <i class="bi bi-cloud-snow-fill"></i>
                          {% elif daily_forecast.weather == "Thunderstorm" %}
                            <i class="bi bi-cloud-lightning-fill"></i>
                          {% else %}
                            <i class="bi bi-cloud-sun-fill"></i> 
                          {% endif %}
                        </div>
                        <div class="ps-3">
                          <h6>{{ daily_forecast.temp }}&deg;C</h6>
                        </div>
                        <div class="ps-3">
                          <h5 class="card-title"><span>{{ daily_forecast.weather }}</span></h5>
                        </div>
                        {% endwith %}
                      {% endif %}
                    </div>
                </div>

              </div>
            </div>
            <!-- End Humidity Card -->
            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Temperature</h5>
    
                  <!-- Area Chart -->
                  <div id="areaChart" style="min-height: 250px;" class="echart"></div>
    
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const predictionTimes = {{ predictions | map(attribute='time') | list | tojson }};
                        const predictionTemperatures = {{ predictions | map(attribute='temperature') | list | tojson }};
                        
                        echarts.init(document.querySelector("#areaChart")).setOption({
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: predictionTimes
                            },
                            yAxis: {
                                type: 'value',
                                tickInterval: 5,
                                min: Math.floor((Math.min(...predictionTemperatures) - 5) / 5) * 5,
                                max: Math.ceil((Math.max(...predictionTemperatures) + 5) / 5) * 5
                            },
                            series: [{
                                data: predictionTemperatures,
                                type: 'line',
                                smooth: true,
                                areaStyle: {}
                            }]
                        });
                    });
                </script>
                  <!-- End Area Chart -->
    
                </div>
              </div>
            </div><!-- End Reports -->
          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>

  </main><!-- End #main -->

  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>TrustWeather</span></strong>. All Rights Reserved
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>                                                                                                                                                                                                                                                                                                                             
  <script>updateTime();</script>
</body>

</html>